<div class="page-list-edit">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-form-field *ngIf="editVisible">
      <input matInput placeholder="{{'分类编号' | translate}}" formControlName="code">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="{{'上级分类' | translate}}" formControlName="p_id">
        <mat-option *ngIf="pidVisible" [value]="profileForm.value.name"
                    disabled="true">{{listName[0].name}}</mat-option>
        <mat-option *ngIf="pidVisible === false" [value]="profileForm.value.p_id" disabled="true">0</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{'名称' | translate}}" formControlName="name">
      <mat-error *ngIf="profileForm.invalid">{{'请输入中文名' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{'英文名称' | translate}}" formControlName="name_en">
      <mat-error *ngIf="profileForm.invalid">{{'请输入英文名' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="{{'存货科目' | translate}}" formControlName="acct_number">
        <mat-option [style.display]="editVisible ? 'none' : 'block'" *ngFor="let item of cateName" [value]="item.name"
                    [disabled]="!item.selectable"
        >{{item.name}}</mat-option>
        <mat-option [style.display]="editVisible ? 'block' : 'none'" [value]="acctName" disabled="true"
        >{{acctName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="profileForm.invalid">{{'请选择存货科目' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="{{'销售成本科目' | translate}}" formControlName="cost_acct_number">
        <mat-option [style.display]="editVisible ? 'none' : 'block'" *ngFor="let item of cateName" [value]="item.name"
                    [disabled]="!item.selectable"
        >{{item.name}}</mat-option>
        <mat-option [style.display]="editVisible ? 'block' : 'none'" [value]="acctName" disabled="true"
        >{{acctName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="profileForm.invalid">{{'请选择销售成本科目' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="{{'销售收入科目' | translate}}" formControlName="sale_acct_number">
        <mat-option [style.display]="editVisible ? 'none' : 'block'" *ngFor="let item of cateName" [value]="item.name"
                    [disabled]="!item.selectable"
        >{{item.name}}</mat-option>
        <mat-option [style.display]="editVisible ? 'block' : 'none'" [value]="acctName" disabled="true"
        >{{acctName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="profileForm.invalid">{{'请选择销售收入科目' | translate}}</mat-error>
    </mat-form-field>
    <button type="submit" class="submit global-submit" mat-raised-button
            [disabled]="!profileForm.valid">{{'提交' | translate}}
    </button>
    <button type="button" class="global-back" mat-raised-button
            (click)="onBack()">{{'返回' | translate}}</button>
  </form>
</div>
